@inherits LayoutComponentBase

<div class="page" style="background-image:url(https://img.freepik.com/free-photo/black-wall-paint-textured-background_53876-132996.jpg?t=st=1729903870~exp=1729907470~hmac=ff6f36809cdede3fac4b35f2440541d70516a5f78c79cfa445d4716970f535cf&w=1380); color: paleturquoise; background-size:cover;">
    @Body
</div>
