@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-image:url(https://img.freepik.com/free-photo/black-wall-paint-textured-background_53876-132996.jpg?t=st=1729903870~exp=1729907470~hmac=ff6f36809cdede3fac4b35f2440541d70516a5f78c79cfa445d4716970f535cf&w=1380); color: paleturquoise; background-size:cover;">
        <div class="top-row px-4" style="background-color:slategray; opacity: 0.3;">
            <a href="https://dylan-mendez.vercel.app/" style="color:snow; text-decoration:none;" target="_blank">Dylan A. Mendez</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
