@page "/inicio/{IDUsuario:int}"

<PageTitle>Home</PageTitle>

<br />

@if (mensajeDeBienvenida == "")
{
    <p><em>Loading...</em></p>
}
else
{
    <h1 style="text-align:center;">@mensajeDeBienvenida</h1>
}

<br /><br />

<h3 style="text-align:center;">¿Que quieres visitar?</h3>

<br /><br />

<div style="display:flex; flex-direction:row; justify-content: center;">
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
    <a>
        <button>asd</button>
    </a>
</div>


@code {

    [Parameter]
    public int IDUsuario { get; set; }

    [Inject]
    private HttpClient Http { get; set; }

    string mensajeDeBienvenida = "";
    string nombreDeUsuarioActual = "";
    UsuarioData usuarioActual = new UsuarioData();

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        await CargarUsuario();

        mensajeDeBienvenida = $"Hola {nombreDeUsuarioActual}, bienvenido!";
    }

    private async Task CargarUsuario()
    {
        var usuario = await Http.GetStringAsync($"http://localhost:5106/api/Usuario/{IDUsuario}");
        usuarioActual = JsonSerializer.Deserialize<UsuarioData>(usuario);

       nombreDeUsuarioActual = usuarioActual.NombreUsuario;
    }

}